.tab-wrap {
  width: 600px;
  margin: 0 auto 30px;
}

.tab {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

.tab::after {
  content: '';
  display: block;
  clear: both;
}

.tab-item {
  float: left;
  font-size: 18px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all .4s;
}

.tab-item:hover,
.tab-item.active {
  background-color: red;
  color: #fff;
}

#tab2 .tab-item:hover,
.tab-item.active2 {
  background-color: blue;
  color: #fff;
}

.content {
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.content-item {
  min-height: 400px;
  display: none;
}

.content-item.active {
  display: block;
}