.wrapper {
  width: 900px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 100%;
  font-size: 24px;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 50px;
  color: #333;
}

.table thead {
  font-weight: 600;
  background-color: #4CAF50;
  color: #fff;
}

.table tr {
  padding: 15px;
  height: 50px;
  vertical-align: middle;
  text-indent: 15px;
  border-bottom: 1px solid #ccc;
}

.table td {
  border-collapse: collapse;
}

.table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.table tbody tr:nth-child(even) {
  background-color: #fff;
}

.second-table {
  border: 0;
}

.second-table .white {
  background-color: #fff;
  color: #000;
}